{
    "DefaultCommPlaybackName":  "Voicemeeter AUX Input (VB-Audio Voicemeeter VAIO)",
    "DefaultCommRecordingName":  "Voicemeeter Out B2 (VB-Audio Voicemeeter VAIO)",
    "DefaultPlaybackName":  "Voicemeeter Input (VB-Audio Voicemeeter VAIO)",
    "DefaultRecordingName":  "Voicemeeter Out B1 (VB-Audio Voicemeeter VAIO)"
}
